@page
@model WebUI.Pages.Cursos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Curso.CursoId" />
            <div class="form-group">
                <label asp-for="Curso.IdMateria" class="control-label"></label>
                <select asp-for="Curso.IdMateria" class="form-control" asp-items="ViewBag.IdMateria"></select>
                <span asp-validation-for="Curso.IdMateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso.IdComision" class="control-label"></label>
                <select asp-for="Curso.IdComision" class="form-control" asp-items="ViewBag.IdComision"></select>
                <span asp-validation-for="Curso.IdComision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso.Nombre" class="control-label"></label>
                <input asp-for="Curso.Nombre" class="form-control" />
                <span asp-validation-for="Curso.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso.Descripcion" class="control-label"></label>
                <input asp-for="Curso.Descripcion" class="form-control" />
                <span asp-validation-for="Curso.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso.Cupo" class="control-label"></label>
                <input asp-for="Curso.Cupo" class="form-control" />
                <span asp-validation-for="Curso.Cupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso.AñoCalendario" class="control-label"></label>
                <input asp-for="Curso.AñoCalendario" class="form-control" />
                <span asp-validation-for="Curso.AñoCalendario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
