@page
@model WebUI.Pages.Personas.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Persona.Nombre" class="control-label"></label>
                <input asp-for="Persona.Nombre" class="form-control" />
                <span asp-validation-for="Persona.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Apellido" class="control-label"></label>
                <input asp-for="Persona.Apellido" class="form-control" />
                <span asp-validation-for="Persona.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Direccion" class="control-label"></label>
                <input asp-for="Persona.Direccion" class="form-control" />
                <span asp-validation-for="Persona.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Email" class="control-label"></label>
                <input asp-for="Persona.Email" class="form-control" />
                <span asp-validation-for="Persona.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Telefono" class="control-label"></label>
                <input asp-for="Persona.Telefono" class="form-control" />
                <span asp-validation-for="Persona.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Fecha_nac" class="control-label"></label>
                <input asp-for="Persona.Fecha_nac" class="form-control" />
                <span asp-validation-for="Persona.Fecha_nac" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Persona.Legajo" />
            <div class="form-group">
                <label asp-for="Persona.Tipo_persona" class="control-label"></label>
                <input asp-for="Persona.Tipo_persona" class="form-control" />
                <span asp-validation-for="Persona.Tipo_persona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.IdPlan" class="control-label"></label>
                <input asp-for="Persona.IdPlan" class="form-control" />
                <span asp-validation-for="Persona.IdPlan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
